/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock
/tests/Comments/Infrastructure/Form/Type/file.pdf.bkp

/.phpunit.result.cache
/behat.yml
/phpspec.yml
/phpunit.xml
