<div id="comments" class="ui segment comments" style="max-width: 100%">
    <h3 class="ui dividing header">{{ 'sylius.ui.order_comments'|trans }}</h3>
    {% for order_comment in order_comments %}
    <div class="comment segment">
        <div class="content">
            <a class="author">{{ order_comment.authorEmail }}</a>
            <div class="metadata">
                <span class="date">Today at 5:42PM</span>
            </div>
            <div class="text">
                {{ order_comment.message }}
            </div>
        </div>
    </div>
    {% endfor %}
    {{ render(controller('sylius.order_comments_plugin.infrastructure.controller.ui.render_comment_form_action', { 'orderId': app.request.attributes.get('orderId') })) }}
</div>
